body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show-brewery {
  border: 1px solid black;
  padding: 10px 30px 30px;
  margin-bottom: 20px;
}

.jumbotron {
  padding: 30px 20px;
  margin-bottom: 2rem;
  background-color: gray;
  border-radius: 0.3rem;
}

.row {
  padding: 10px 30px;
  margin: 10px;
}

.api-query-result,
.fav-list {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 10px;
  margin-bottom: 10px;
}
