body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show-brewery {
  border: 1px solid black;
  padding: 10px 30px 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 0.3rem;
  background-color: burlywood;
}

.jumbotron {
  padding: 30px 20px;
  background-color: gray;
}

.header-image {
  background-image: url("https://us.123rf.com/450wm/superstijl/superstijl1506/superstijl150600026/41657489-wooden-panels.jpg?ver=6");
  background-repeat: repeat;
  background-size: contain;
}

.header-font {
  font-family: "Bangers";
  font-size: 110px;
  color: rgb(60, 60, 60);
}

.hero-image {
  background-image: url("https://img.freepik.com/free-vector/beer-glasses-seamless-pattern-with-different-kinds-glasses-pulled-light-beers-malts-hand-drawing-white_1284-49325.jpg?w=2000");
  background-repeat: repeat;
}

.form-label {
  font-size: 20px;
  font-style: italic;
}

.background-color {
  /* background-color: rgba(173, 216, 230, 0.75); */
  background-color: rgba(246, 193, 1, 0.6);
}

.form-range {
  appearance: auto;
}

.row {
  padding: 10px 30px;
  margin: 10px;
}

.api-query-result,
.fav-list {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 10px;
  margin-bottom: 10px;
}

.list-item:hover {
  background-color: lightgrey;
}

.list-item {
  background-color: orange;
}
